body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

#messages {
    background: #afafaf;
    max-width: 500px;
    max-height: 700px;
    height: 90%;
    width: 100%;
    margin-bottom: 1rem;
}